# sbt compilation output
target/
project/target
# Compiler output and nodejs modules
compiler/**/*.html
compiler/**/*.wat
compiler/**/*.wasm
compiler/**/*.js
compiler/node_modules
# Vim
*.swp
#idea
amyc_2.12-1.5.jar
.idea/
.idea/workspace.xml